{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<div id="sidebar" class="sidebar">
    <div class="sidebar-menu nav-collapse">
        <div class="divide-20"></div>
        <!-- SEARCH BAR -->
        <div id="search-bar">
            <input class="search" type="text" placeholder="Search"><i class="fa fa-search search-icon"></i>
        </div>
        <!-- /SEARCH BAR -->

        <!-- SIDEBAR QUICK-LAUNCH -->
        <!-- <div id="quicklaunch">
        <!-- /SIDEBAR QUICK-LAUNCH -->

        <!-- SIDEBAR MENU -->
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-dashboard fa-fw"></i> <span class="menu-text">Dashboard</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li>
                <a href="{% url 'servers' %}">
                    <i class="fa fa-hdd-o fa-fw"></i> <span class="menu-text">Environment</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li>
                <a href="{% url 'projects' %}">
                    <i class="fa fa-tasks fa-fw"></i> <span class="menu-text">Project</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li>
                <a href="{% url 'users' %}">
                    <i class="fa fa-user fa-fw"></i> <span class="menu-text">User</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-check-circle-o fa-fw"></i> <span class="menu-text">Log</span>
                    <span class="selected"></span>
                </a>
            </li>

        </ul>
        <!-- /SIDEBAR MENU -->
    </div>
</div>